/*index*/

/*login og registrering*/
#profileimgprint{
    display: grid;
    grid-template-columns: repeat(5, 9svw);
}
.pics img{
    border-radius: 50%;
    width: 8svw;
}
.selectedImg{
    border: 0.2svw solid #df0707;
}
/*spil side*/

/*andet*/